@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

body {
  height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
}

.pm-input {
  @apply h-full w-full rounded-[7px] border border-blue-gray-200 border-t-transparent bg-transparent px-3 py-2.5 
  font-sans text-sm font-normal outline outline-0 
  transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 
  placeholder-shown:border-t-blue-gray-200 
  focus:border-2 focus:border-pm-primary focus:border-t-transparent 
  focus:outline-0 disabled:border-0;
}

.pm-input-range {
  @apply w-full accent-pm-primary;
}

.pm-input-label {
  @apply pointer-events-none 
  absolute -top-1.5 left-0 flex h-full w-full select-none text-[11px] 
  font-normal leading-tight text-blue-gray-400 
  transition-all before:pointer-events-none before:mr-1 
  before:mt-[6.5px] before:box-border 
  before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-l before:border-t 
  before:border-blue-gray-200 
  before:transition-all after:pointer-events-none 
  after:ml-1 after:mt-[6.5px] 
  after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow 
  after:rounded-tr-md after:border-r after:border-t 
  after:border-blue-gray-200 after:transition-all 
  peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] 
  peer-placeholder-shown:text-blue-gray-500 
  peer-placeholder-shown:before:border-transparent 
  peer-placeholder-shown:after:border-transparent 
  peer-focus:text-[11px] peer-focus:leading-tight 
  peer-focus:text-pm-primary peer-focus:before:border-l-2 peer-focus:before:border-t-2 
  peer-focus:before:border-pm-primary peer-focus:after:border-r-2 
  peer-focus:after:border-t-2 peer-focus:after:border-pm-primary 
  peer-disabled:text-transparent peer-disabled:before:border-transparent 
  peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-blue-gray-500;
}

.pm-input-color-container {
  @apply h-12 w-12 
  rounded-full border
  border-pm-primary ring-2 ring-transparent;
}

.pm-input-color-container:has(input[type="color"]:focus) {
  @apply ring-pm-primary;
}

.pm-input-color-container > input[type="color"] {
  @apply h-full w-full rounded-full;
  outline: none;
  border: none;
  -webkit-appearance: none;
}

.pm-input-color-container > input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.pm-input-color-container > input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
