@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0 0;
  --background: 214 219 220;
  --primary: 214 200 220;
  --secondary: 0 0 0;
}

body {
  @apply h-[100vh] bg-background text-foreground;
}

.root-layout {
  height: calc(100% - 40px);
}

.app-none-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.app-scrollbar::-webkit-scrollbar {
  @apply h-3 w-3 rounded-md bg-transparent;
}

.app-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-md;
}
