@tailwind base;
@tailwind components;
@tailwind utilities;

.panel--item {
  @apply border-l-[3px] border-l-transparent text-foreground/70 transition-colors hover:text-foreground;
}

.panel--item.selected {
  @apply border-l-primary/60 text-foreground;
}

.panel--item-tooltip {
  @apply relative z-10 rounded-md border border-secondary/20;
}

.panel--item-tooltip-arrow::before {
  @apply absolute -z-0 block h-8 w-4 border border-secondary/20 bg-background;
  content: "";
}

.panel--item-tooltip-arrow::after {
  @apply absolute block h-6 w-7 bg-background;
  content: "";
}

.panel--item-tooltip-transform::after {
  transform: translateY(-22px) translateX(-12px);
}

.panel--item-tooltip-transform::before {
  @apply -translate-x-[13px] -translate-y-[6px] rotate-45 scale-y-50;
}
