@layer components {
  /* Button */
  .btn {
    --background-color: var(--color-background);
    --text-color: var(--color-foreground);
    --text-color-80: var(--color-foreground);

    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    box-shadow: var(--shadow-md);
    cursor: pointer;
    background-color: var(--background-color);
    color: var(--text-color);

    &.btn-ripple {
      position: relative;
      overflow: hidden;
    }
  }

  .ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-animation 600ms linear;
    background-color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
  }

  @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}
